.macke-dice {
    height: 5vh;
    width: 5vh;
    display: flex;
    background-color: cornsilk;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    float: left;
    margin-left: 0.3vw;
    margin-right: 0.3vw;

    &.keep {
        background-color: green;
    }

    &.do-not-keep {
        background-color: red;
    }

    &.not-selectable {
        background-color: lightgray;
        cursor: not-allowed;
    }
}