.macke-dice {
    height: 30px;
    width: 30px;
    display: flex;
    background-color: cornsilk;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    float: left;
    margin-left: 0.3vw;
    margin-right: 0.3vw;

    &.keep {
        box-shadow: 0px 0px 2px 2px lightblue;
    }

    &.do-not-keep {
        // box-shadow: 0px 0px 2px 2px lightblue;
    }

    &.used {
        box-shadow: 0px 0px 2px 2px lightcoral;     
        cursor: not-allowed;   
    }

    &.not-selectable {
        background-color: lightgray;
        cursor: not-allowed;
    }
}