.navigation-container {
  padding: 0 0 8px 4px;
}

.sub-headline {
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 16px;
  text-align: center;
  align-items: center;
  justify-items: left;
  span {
    text-align: left;
  }
}
