.dice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 10vh;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
}

.action-container {
    margin-bottom: 1vh;
    
    button {
        margin-right: 3px;
        margin-left: 3px;
    }
}