.dice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-bottom: 1vh;
}

.action-container {
    margin-bottom: 1vh;
    
    button {
        margin-right: 3px;
        margin-left: 3px;
    }
}